body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: snow;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: thin solid;
    width: 350px;
    height: 500px;
    gap: 3px;
    padding: 3px;
    background-color: black;
    border-radius: 3px;
}

.button,
#clear,
#equals {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 3px;
}

.button,
#display,
#clear,
#equals {
    border: thin solid black;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12px;
    font-size: 36px;
    grid-column: span 4;
    background-color: whitesmoke;
    color: black
}

#zero,
#equals {
    grid-column: span 3;
}

.operator {
    background-color: orange;
    color: white;
}

#clear {
    background-color: slategrey;
    color: white;
}

.number {
    background-color: lightslategrey;
    color: white;
}