body {
    display: flex;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: thin solid;
    width: 400px;
    height: 500px;
    gap: 3px;
    padding: 3px;
    background-color: lightsteelblue;
}

.button,
#clear,
#equals {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.button,
#display,
#clear,
#equals {
    border: thin solid;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
    font-size: 36px;
    grid-column: span 4;
    background-color: white;
}

#zero,
#equals {
    grid-column: span 3;
    border-color: black;
}

.operator {
    background-color: grey;
    color: white;
    border-color: black;
}

#clear {
    background-color: lightgray;
}

.number {
    background-color: whitesmoke;
}